@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

.footer {
    text-align: center;
    font-family: "Parkinsans";
    font-weight: 400;
    padding: 16px;
    padding: 16px;
    border-top: 1px solid #e5e7eb;
    color: #1F524D;
}